<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            Yunlei
          </div>

          <div class="card card-primary">
            <div class="card-header"><h4>登录</h4></div>

            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <label for="email">邮箱</label>
                    <input id="email" type="email" class="form-control" name="user[email]" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      请输入注册时填写的邮箱。
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password" class="d-block">密码
                      <div class="float-right">
                        <a href="forgot.html">
                          忘记密码?
                        </a>
                      </div>
                    </label>
                    <input id="password" type="password" class="form-control" name="user[password]" tabindex="2" required>
                    <div class="invalid-feedback">
                      请输入您的账户密码。
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="user[remember_me]" class="custom-control-input" tabindex="3" id="remember-me">
                      <label class="custom-control-label" for="remember-me">记住</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" tabindex="4" data-disable-with="登录中...">
                      登录
                    </button>
                  </div>

              <% end %>
            </div>
          </div>
          <div class="mt-5 text-muted text-center">
            <!--Don't have an account? <a href="register.html">Create One</a>-->
          </div>
          <div class="simple-footer">
            Copyright &copy; Yunlei 2018
          </div>
        </div>
      </div>
    </div>
  </section>
</div>